<!DOCTYPE html>
<html lang="en">
        <!-- Navigation-->
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Grupo #1</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="enviarInicio()">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="enviarLogin()">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign Up </h2>
  
      <!-- Login Form -->
      <form #formRegister= "ngForm" (ngSubmit)= "onRegister()">
        <input type="text" id="name" class="fadeIn second" name="name" placeholder="name" [(ngModel)]="user.name" required>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="user" [(ngModel)]="user.username" required>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="user.password" required>
        <input type="submit" class="fadeIn fourth" value="Sign in">
      </form>
  
  
    </div>
  </div>
</html>